body {
    font-family: 'Arial', sans-serif;
}

header img {
    border: 3px solid white;
}

ul li img {
    margin-right: 10px;
    vertical-align: middle;
}

footer p {
    margin: 0;
}

.bg-primary{
    background-color: rgb(48, 48, 48) !important;
}
